<div class="span-categories box">
  <span>Categoria 1 > Categoria 2 > Categoria 3</span>
</div>
<div class="box" *ngFor="let item of items">
  <div class="div-item" (click)="detalle(item.id)">
    <div class="box-img">
      <img class="size" src="{{item.thumbnail}}">
    </div>
    <div class="box-description">
      <div class="box-description-precio">
        <span> {{item.price | currency}}</span>
      </div>
      <div class="box-description-text">
        <span>{{item.title}}</span>
      </div>
    </div>
    <div class="box-city">
      <div class="box-description-city">
        <span>{{item.state_name}}</span>
      </div>
    </div>
  </div>
</div>
